body
{
	width: 490px;
  background-color: #F9F9F9;
  font-family: Arial, Helvetica, sans-serif;
}

/*******************************************************************************
 * Tabs
 ******************************************************************************/
#navigation_tab
{
  padding: 0px;
  border-bottom: 1px solid #c0c0c0;
}

#navigation_tab::after
{
  content: "";
  display: block;
  clear: both;
}

#navigation_tab li
{
  list-style: none;
  float: left;
  position: relative;
  top: 2px;
  margin: 0 .2em 1px 0;
  border-bottom: 0 !important;
  white-space: nowrap;
  color: #c0c0c0;
  padding: 0px 16px 12px 16px;
}

#navigation_tab li[aria-selected] 
{
  color: #459e00;
  background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;
}

#navigation_tab span
{
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

[role="tabpanel"]
{
  display: none;
}

[data-tab="main"] #main_tab,
[data-tab="cookies"] #cookies_tab,
[data-tab="network"] #network_tab
{
  display: block;
}

/*******************************************************************************
 * Switches
 ******************************************************************************/
button[role="checkbox"]
{
  font-size: 0px; /* Fighting the Space Between Inline Block Elements */
  background: none;
  border: 0px;
  cursor: pointer;
  padding: 0px;
}

button[role="checkbox"] > span
{
  font-size: 12px;
  line-height: 19px;
  display: inline-block;
  padding: 0 6px;
  border: 1px solid #d5d5d5;
  font-weight: bold;
}

/*#7f7f7f #8abc25 #f8f8f8 */
button[role="checkbox"] > span:first-child
{
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}

button[role="checkbox"] > span:last-child
{
  border-radius: 0px 5px 5px 0px;
  background-image: linear-gradient(#989898, #565656);
  color: #fff;
}

button[role="checkbox"][aria-checked="true"] > span:first-child
{
  background-image: linear-gradient(#83c51e, #476913);
  color: #fff;
}

button[role="checkbox"][aria-checked="true"] > span:last-child
{
  color: #000;
  background: none;
}




.cb-enable, .cb-disable, .cb-enable span, .cb-disable span
{
  background: url(img/switch2.gif) repeat-x;
  display: block;
  float: left;
}

.cb-enable span, .cb-disable span
{
  line-height: 19px;
  display: block;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 12px;
}

.cb-enable span
{
  background-position: left -57px;
  padding: 0 6px;
}

.cb-disable span
{
  background-position: right -113px;
  padding: 0 6px;
}

.cb-disable.selected
{
  background-position: 0 -19px;
}
.cb-disable.selected span
{
  background-position: right -132px;
  color: #fff;
}

.cb-enable.selected
{
  background-position: 0 -38px;
}

.cb-enable.selected span
{
  background-position: left -94px;
  color: #fff;
}

.switch
{
  display: inline-block;
}

.switch label
{
  cursor: pointer;
}

.switch input
{
  display: none;
}

.grey .settingName
{
  color: grey;
}

.on, .off, .on span, .off span
{
  background: url(img/switch2.gif) repeat-x;
  display: block;
  float: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
}

.switch span 
{
   background-repeat: no-repeat;
   padding: 0 6px;
}

.on span 
{ 
  background-position: left -57px;
}

.turn-on .off span 
{ 
  background-position: right -113px;
}

.turn-on .off
{
  background-position: 0 0;
}

.turn-on .off span
{
  color: #312e25;
}

.off
{
  background-position: 0 -19px;
}

.off span
{ 
  background-position: right -132px; color: #fff; 
}

.turn-on .on
{
  background-position: 0 -38px;
}

.turn-on .on span
{
  background-position: left -94px; color: #fff;
}

.switch label
{
  cursor: pointer;
}

.switch input
{
  display: none;
}

/*******************************************************************************
 * Main
 ******************************************************************************/

.serviceContainer
{
  display:inline-table;
  vertical-align: top;
  padding-right: 28px;
}

.rowContainer > div:first-child
{
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 4px;
  width:110px;
  vertical-align: top;
}

.rowContainer > div:last-child
{
  height: 10px;
  margin: 0px;
  vertical-align: top;
}

.serviceHeader
{
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 8px;
	color: #679c16;
}

#incognito
{
  display: inline-block;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #ededed;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	color: #679c16;
	font-size: 12px;
	font-weight: bold;
	padding: 1px 39px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
}

#incognito:hover
{
	cursor: pointer;
	background-color: #dfdfdf;
}

#incognito:active
{
	position:relative;
	top:1px;
}

/*******************************************************************************
 * Cookies tab
 ******************************************************************************/
.cookieHostRow:hover
{
  cursor:pointer;
  background-color: #DFDFDF;
}

.cookieHostRowActive
{
  background-color: #DFDFDF;
}

#cookiesHeadlineTitle
{
  font-weight: bold;
  color:#679C16;
}

.cookieNameRow 
{
  display:none;
  padding-left: 10px;
  background-color: #F0F0F0;
  /*margin: 10px 0 10px 0;*/ 
}

.cookieNameRow:hover
{
  cursor:pointer;
  background-color: #DFDFDF;
}

#cookiesContainer
{
  font-size: 14px;
  max-height: 270px;
  overflow: auto;
}

.cookieHostRowName
{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 180px;
  white-space: pre;
  display: inline-block;
}

.cookieHostRowRemove
{
  color:#CCCCCC;
  font-size: 20px;
  padding-bottom:3px;
  margin-left:120px;
  display: inline-block;
}

.cookieHostRowRemove:hover
{
  color:#433F38;
}

.cookieHostRowCounter
{
  display: inline-block;
  width:100px;
}

.cookieNameRowName
{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  white-space: pre;
  display: inline-block;
}

.cookieNameRowValue
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  display: inline-block;
  width:180px;
  padding-left: 20px;
}

.cookieNameRowRemove
{
  color:#CCCCCC;
  font-size: 20px;
  padding-bottom:3px;
  margin-left:40px;
  display: inline-block;
}

.cookieNameRowRemove:hover
{
  color:#433F38;
}

#searchCookies
{
  font-size:12px;
  width: 120px;
}

#removeAllCookies
{
  font-size:11px;
  min-height: 21px;
}

/*******************************************************************************
 * Network tab
 ******************************************************************************/
#headersTextArea
{
  font-size: 10px;
  width: 440px;
  height: 260px;
  resize: none;
}

#selectHeaders,
#deleteHeaders,
#refreshHeaders
{
  font-size: 11px;
  min-height: 21px;
  margin-top: 0px; 
}
