#main
{
	width: 490px;
}

.privacyServiceName
{
	display:inline-table;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
	padding-bottom: 4px;
	width:152;
}
.closeBrowserName 
{
	display:inline-table;
	font-weight: bold;
	font-size: 12px;
	font-family: Arial;
	padding-bottom: 4px;
	width:110px;
}
.switch {
	height: 10px;
}
.rowContainer {
	
}

.serviceHeader {
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 8px;
	font-family: Arial;
	color: #679c16;
}

.serviceContainer {
	display:inline-table;
	vertical-align: top;
}

.cb-enable, .cb-disable, .cb-enable span, .cb-disable span
{
  background: url(img/switch2.gif) repeat-x;
  display: block;
  float: left;
}
.cb-enable span, .cb-disable span
{
  line-height: 19px;
  display: block;
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 12px;
}
.cb-enable span
{
  background-position: left -57px;
  padding: 0 6px;
}
.cb-disable span
{
  background-position: right -113px;
  padding: 0 6px;
}
.cb-disable.selected
{
  background-position: 0 -19px;
}
.cb-disable.selected span
{
  background-position: right -132px;
  color: #fff;
}
.cb-enable.selected
{
  background-position: 0 -38px;
}
.cb-enable.selected span
{
  background-position: left -94px;
  color: #fff;
}
.switch label
{
  cursor: pointer;
}
.switch input
{
  display: none;
}

.grey .settingName
{
  color: grey;
}

.on, .off, .on span, .off span
{
  background: url(img/switch2.gif) repeat-x;
  display: block;
  float: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
.switch span 
{
   background-repeat: no-repeat;
   padding: 0 6px;
}
.on span 
{ 
  background-position: left -57px;
}
.turn-on .off span 
{ 
  background-position: right -113px;
}
.turn-on .off
{
  background-position: 0 0;
}
.turn-on .off span
{
  color: #312e25;
}
.off
{
  background-position: 0 -19px;
}
.off span
{ 
  background-position: right -132px; color: #fff; 
}
.turn-on .on
{
  background-position: 0 -38px;
}
.turn-on .on span
{
  background-position: left -94px; color: #fff;
}
.switch label
{
  cursor: pointer;
}
.switch input
{
  display: none;
}

#incognito, #submitPassword {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#679c16;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:1px 39px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}#incognito:hover, #submitPassword:hover {
	cursor:pointer;
	background-color:#dfdfdf;
}#incognito:active, #submitPassword:hover {
	position:relative;
	top:1px;
}

#tabs {
	padding: 0px;
}
#tabs .ui-tabs-panel {
}
#tabs {
	padding: 0px;
	background: none;
	border-width: 0px;
}

#tabs .ui-tabs-nav {
	padding-left: 0px;
	background: transparent;
	border-width: 0px 0px 1px 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#tabs {
	background: transparent;
	border: none;
}
#tabs .ui-widget-header {
	background: transparent;
	border: none;
	border-bottom: 1px solid #c0c0c0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#tabs .ui-state-default {
	background: transparent;
	border: none;
}
#tabs .ui-state-active {
	background: transparent url('img/uiTabsArrow.png') no-repeat bottom center;
	border: none;
}
#tabs .ui-state-default a {
	color: #c0c0c0;
}
#tabs .ui-state-active a {
	color: #459E00;
}


#tabs .ui-tabs-nav li a {
	padding-top: 0em;
}
#tabs .ui-tabs-panel {
	padding-bottom: 0em;
}
