/*******************************************************************************
 * Tabs
 ******************************************************************************/

#navigation_tab {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c0c0c0;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  li {
    list-style: none;
    float: left;
    position: relative;
    top: 2px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    white-space: nowrap;
    color: #c0c0c0;
    padding: 10px 16px;
    cursor: pointer;
    &[aria-selected] {
      color: #459e00;
      background: transparent url(img/tabs-arrow.svg) no-repeat bottom center;
    }
  }
  span {
    text-decoration: none;
    font-weight: bold;
  }
}

[role="tabpanel"] {
  display: none;
  padding: 10px;
}

[data-tab="main"] #main_tab, [data-tab="cookies"] #cookies_tab, [data-tab="network"] #network_tab {
  display: block;
}